::-webkit - scrollbar {
        width: 8 px;
    }::-webkit - scrollbar - thumb {
        background: #333; }

body {
 opacity: 1;
  margin: 0;
  background-image: url('../img/back.png');
}

.client {
  display: none;
  margin-top: 2%;
  margin-left: 12%;
  margin-right: 12%;
  position: fixed;
  top:0px;
  z-index:2;
}

.c-title {
  width: 69%;
}
.c-theme {
  min-height: 100px;
  max-height: 100px;
  width: 100%;
  background-image: url('../img/setup5.png');
  color: # f0f0f0;
        float: left;
        border - top - left - radius: 7 px;
        border - top - right - radius: 7 px;
    }
    .c - theme - conference {
        padding - top: 10 px;
        font - family: sans - serif;
        font - size: 18 px;
        text - align: center;
    }
    .c - theme - text {
        padding - left: 7 px;
        padding - right: 7 px;
        font - family: sans - serif;
        font - size: 16 px;

    }

.c - title - nondisplay {
    width: 30 % ;
    display: none;
}

.c - messages {
        min - width: 68.9 % ;
        width: 820 px;
        max - width: 68.9 % ;
        display: inline;
        min - height: 580 px;
        max - height: 580 px;
        background - color: #efe;
        float: left;
        overflow - y: scroll;
        border - style: solid;
        border - width: 0 px 1 px 1 px 1 px; - webkit - border - bottom - right - radius: 5 px; - moz - border - radius - bottomright: 5 px; - border - bottom - right - radius: 5 px; - webkit - border - bottom - left - radius: 5 px; - moz - border - radius - bottomleft: 5 px; - border - bottom - left - radius: 5 px;
        border - color: #999;
}

.c-messages-text {
  display: inline;
  padding: 5px;
  padding-top: 10px;
  padding-bottom: 7px;
  font-family:sans-serif;
  font-size: 14px;
}

.c-vborder {
  min-width: 1%;
  background-color: # ffffff;
        float: left;
    }
    .c - rpanel {
        display: block;
        width: 30 % ;
        min - height: 750 px;
        max - height: 750 px;
        float: right;
    }
    .c - members {
        width: 100 % ;
        float: right;
        min - height: 680 px;
        max - height: 680 px;

    }

.c - members - title {
    min - height: 20 px;
    max - height: 20 px;
    background - image: url('../img/setup5.png');
    padding: 5 px;
    padding - top: 10 px;
    padding - bottom: 7 px;
    font - family: sans - serif;
    font - size: 16 px;
    color: #f0f0f0;
    text - align: center;
    border - top - left - radius: 7 px;
    border - top - right - radius: 7 px;
}

.c - members - list {
    display: block;
    width: 100 % ;
    overflow - y: scroll;
    min - height: 660 px;
    max - height: 660 px;
    background - color: #efe;
    border - style: solid;
    border - width: 2 px 1 px 0 px 1 px;
    border - color: #aaa;
}

.c - members - nick {
        display: block;
        width: 100 % ;
        text - shadow: 0 1 px 0 rgba(255, 255, 255, .25);
        padding - top: 5 px;
        padding - bottom: 0 px;
        min - height: 30 px;
        max - height: 30 px;
        background - color: #efe;
        font - size: 18 px;
        padding - left: 20 px;
        border - style: solid;
        border - width: 0 px 0 px 1 px 0 px;
        border - color: #aab;
    }
    .c - members - nick - mute {
        float: right;
        padding - right: 20 px;
    }

.c - buttons {
        width: 100 % ;
        float: left;

    }
    .c - setup - radio {
        padding - left: 15 px;
        padding - top: 5 px;
        float: left;
    }
    .c - setup - cnn {
        padding - left: 5 % ;
        padding - top: 5 px;
        float: left;
    }
    .c - input - message {
        width: 69 % ;
        min - height: 70 px;
        max - height: 70 px;
        float: left;
        background - color: #932339;
}

.c-bsubmit {   
  width:100%;
  min-height:45px;
  max-height:45px;
  font-size: 35px;
  color: # 333;

    }
textarea {
    resize: none;
    width: 68.5 % ;
    min - height: 65 px;
    max - height: 65 px;
    float: left;
    background - color: #f5f5f5;
    overflow: auto;
    font - size: 14 px;
    font - family: sans - serif; - webkit - border - radius: 5 px; - moz - border - radius: 5 px;
    border - radius: 5 px;
}

textarea: focus {
    outline: none;
    border - color: #9ecaed;
    box-shadow:0 0 10px # 9e caed;
}

.login__overlay {
    display: inline - block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100 % ;
    height: 100 % ;
    background: rgba(0, 0, 0, .7);
    text - align: center
}

.login__overlay: after {
    display: inline - block;
    height: 0;
    width: 0;
    vertical - align: middle;
    content: ''
}

.login {
    display: inline - block;
    font - family: sans - serif;
    font - size: 20 px;
    color: #444;
  text-shadow:0 0 2px # ddd;
    padding: 20 px 10 px 10 px 0;
    position: relative;
    max - width: 80 % ;
    z - index: 8000;
    border: 5 px solid# fff;
    box - shadow: inset 0 2 px 2 px 2 px rgba(0, 0, 0, .4);
    background: #fff;
    vertical - align: middle; - moz - border - radius: 7 px;
    border - radius: 7 px; - webkit - box - shadow: 0 3 px 20 px rgba(0, 0, 0, 0.9); - moz - box - shadow: 0 3 px 20 px rgba(0, 0, 0, 0.9);
    box - shadow: 0 3 px 20 px rgba(0, 0, 0, 0.9);
    background: -moz - linear - gradient(#fff, #ccc);
    background: -webkit - gradient(linear, right bottom, right top, color - stop(1, rgb(255, 255, 255)), color - stop(0.57, rgb(230, 230, 230)));
    /*text-shadow: 0 1px 0 #fff;*/
    width: 500 px;
    background: #fff;
    margin: 10 % auto;
    min - height: 400 px;
    max - height: 500 px;

}
.login p {
    margin: 30 px;
}

.login input[type = "button"] {
    width: 150 px;
    height: 50 px;
    display: inline - block; * display: inline;
    padding: 4 px 12 px;
    margin - bottom: 0; * margin - left: .3e m;
    font - size: 14 px;
    line - height: 20 px;
    color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: # f5f5f5; * background - color: #e6e6e6;
    background - image: -moz - linear - gradient(top, #ffffff, #e6e6e6);
    background - image: -webkit - gradient(linear, 0 0, 0 100 % , from(#ffffff), to(#e6e6e6));
    background - image: -webkit - linear - gradient(top, #ffffff, #e6e6e6);
    background - image: -o - linear - gradient(top, #ffffff, #e6e6e6);
    background - image: linear - gradient(to bottom, #ffffff, #e6e6e6);
    background - repeat: repeat - x;
    border: 1 px solid# cccccc; * border: 0;
    border - color: #e6e6e6# e6e6e6# bfbfbf;
    border - color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border - bottom - color: #b3b3b3; - webkit - border - radius: 4 px; - moz - border - radius: 4 px;
    border - radius: 4 px;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr = '#ffffffff', endColorstr = '#ffe6e6e6', GradientType = 0);
    filter: progid: DXImageTransform.Microsoft.gradient(enabled = false); * zoom: 1; - webkit - box - shadow: inset 0 1 px 0 rgba(255, 255, 255, 0.2),
    0 1 px 2 px rgba(0, 0, 0, 0.05); - moz - box - shadow: inset 0 1 px 0 rgba(255, 255, 255, 0.2),
    0 1 px 2 px rgba(0, 0, 0, 0.05);
    box - shadow: inset 0 1 px 0 rgba(255, 255, 255, 0.2),
    0 1 px 2 px rgba(0, 0, 0, 0.05);

}

.login input[type = "button"]: hover,
    .login input[type = "button"]: focus,
    .login input[type = "button"]: active,
    .login input[type = "button"].active,
    .login input[type = "button"].disabled,
    .login input[type = "button"][disabled] {
        color: #333333;
  background-color: # e6e6e6;

    }

.login input[type = "button"]: active,
    .login input[type = "button"].active {
        background - color: #cccccc\ 9;
    }

.login input[type = "button"]: first - child { * margin - left: 0;
}

.login input[type = "button"]: hover,
    .login input[type = "button"]: focus {
        color: #333333;
  text-decoration: none;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
     -moz-transition: background-position 0.1s linear;
       -o-transition: background-position 0.1s linear;
          transition: background-position 0.1s linear;
}

.login input[type= "button"]: focus {
        outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.login input[type= "button"].active,
    .login input[type = "button"]: active {
        background - image: none;
        outline: 0; - webkit - box - shadow: inset 0 2 px 4 px rgba(0, 0, 0, 0.15), 0 1 px 2 px rgba(0, 0, 0, 0.05); - moz - box - shadow: inset 0 2 px 4 px rgba(0, 0, 0, 0.15), 0 1 px 2 px rgba(0, 0, 0, 0.05);
        box - shadow: inset 0 2 px 4 px rgba(0, 0, 0, 0.15), 0 1 px 2 px rgba(0, 0, 0, 0.05);
    }

.login input[type = "button"].disabled,
    .login input[type = "button"][disabled] {
        cursor: default;
        background - image: none;
        opacity: 0.65;
        filter: alpha(opacity = 65); - webkit - box - shadow: none; - moz - box - shadow: none;
        box - shadow: none;
    }

.login label {
    display: block;
    margin: 20 px;
    width: 420 px;
    overflow: auto;
    font - family: sans - serif;
    font - size: 20 px;
    color: #444;
    text-shadow:0 0 2px # ddd;
    padding: 20 px 10 px 10 px 0;
}

.login input[type = "text"] {
    float: right;
    width: 75 % ;
    text - align: left;
    border: 2 px solid# dadada;
    border - radius: 7 px;
    font - size: 20 px;
    padding: 5 px;
    margin - top: -10 px;
}

input[type = "text"]: focus {
    display
    outline: none;
    border - color: #9ecaed;
    box-shadow:0 0 10px # 9e caed;
}

.login load {
    display: none;
}

.login lab {
    display: none;
}
